# Cache data directory
cache/
*.parquet
build/
dist/

# Python environments & compilation
venv/
.venv/
__pycache__/
*.pyc

# IDE configs
.vscode/
.idea/

# Google Cloud credentials keys
*.json
!requirements.txt
